<div class="row">
  <nav class="col-3">
    <ul class="nav nav-pills nav-fill flex-column">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['ui']"
          [routerLinkActive]="['active']"
          >Do Some Rad Counting!</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['prefs']"
          [routerLinkActive]="['active']"
          >Your Preferences</a
        >
      </li>
    </ul>
  </nav>
  <section class="col">
    <router-outlet></router-outlet>
  </section>
</div>
